.App {
   text-align: center;
}
.blue{
   background-color: blue;
   color: yellow;
}
.red{
   background-color: red;
   color: white
}
.bold{
   font-weight: bold;
   background-color: green;
   
}

.button {
   background-Color: 'green';
   color:'white';  
   font: 'inherit';
   border: '1px solid blue';
   padding: '8px';
   cursor: 'pointer';
}

.button:hover{
     background-Color: 'lightgreen';
     color: 'black';
} 
 